#intelliJ

.idea
*.iml

.DS_Store

npm_debug.log

# IntelliJ hot deploy
build
deployment

.gradle

out/

.gradle/
test.gradle
gradle/caches/
gradle/daemon/
gradle/native/
gradle/wrapper/dists/

bin/

jsonschemas/

#eclipse
.settings
.project
.classpath

# introducing kubectl installation, for ICP dev and test, substitute PLATFORM to amd64
DevDockerfile
DevRhelDockerfile

version.*
/src/com/ibm/cloud/lands/migration/
!/WebContent/WEB-INF/migration/
/WebContent/WEB-INF/migration/Helm/test1.md

logs/

log/